/* :P */

* {transition: rotate 5s linear;}

/* Elements */

body {
  background-color: rgb(32, 32, 32);
  color: rgb(224, 224, 224);
  
  margin: auto;
  margin-top: 0;
  width: 70%;
}

a {color: rgb(0, 96, 0);}
a:hover {color: rgb(0, 128, 0);}

table {
  color: rgb(0, 0, 0);
  background-color: rgb(224, 224, 224);
}

h1 {text-align: center;}

p {text-indent: 2rem; font-size: 1.125rem}

img {
  image-rendering: auto;
  image-rendering: pixelated;
}
table {
  border: 1px solid;
  border-collapse: collapse;
}
th, td, tr {
  border: 1px solid;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

footer {
  position: absolute;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
  font-size: 12px;
  
  background-image: linear-gradient(90deg, 
                                  rgba(0, 0, 0, 0), 
                                  rgba(128, 64, 128, 0.25) 20%, 
                                  rgba(128, 64, 128, 0.25) 80%, 
                                  rgba(0, 0, 0, 0));
}

footer > div {
  width: 60%;
  margin: auto;
}

#reload {
  background-color: rgb(240, 240, 240);
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  
  line-height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  
  border-radius: 0.5rem;
  border-width: 0;
  
  cursor: pointer;
}
#reload:hover {
  background-color: rgb(224, 224 , 224);
}

/* Navigation */

#navbar {
  text-align: center;
  background-color: inherit;
  
  display: flex;
  align-content: center;
  justify-content: center;
  
  position: sticky;
  top: 0;
  padding: 1rem;
}

#navbar > * {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

#navbar > a {
  background-color: rgb(0, 96, 0);
  color: rgb(224, 224, 224);
  
  padding: 0.5rem;
  border-radius: 0.5rem;
  
  font-size: 1.25rem;
}

/* Theme */

#themeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 0;
  background-color: rgba(224, 224, 224, 0.6);
  
  padding: 0;
  padding-bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}

/* Restart Warning */

.restartWarn {
  background-color: rgb(255, 224, 32);
  color: rgb(0, 0, 0);
  
  position: fixed;
  left: 0;
  top: 2rem;
  
  padding: 0.5rem;
  
  border-radius: 0.25rem;
}

.restartWarn > div {
  display: inline-block;
  
  max-width: 0;
  max-height: 1rem;
  transition: max-width 1s, max-height 1s;
  
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* Animated Button */

.imgButton {
  border: 0;
  padding: 0;
  height: 8rem;
  cursor: grab;
}

/* Media */

@media (max-width: 600px) {
  body {
    width: 80%;
  }
}

/* Load Animation */

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Other */

.WC {
  text-align: center;
  color: rgb(96, 96, 96);
}